body {
  background-color: rgb(52, 206, 193);
  font-size: 20px;
}

img {
  /* padding: 10px 5px 20px 15px; */
  padding-top: 20px;
  border: 3px #ccc solid;
  margin: 30px;
}

li {
  list-style-type: none;
}

a {
  /* color: red; */
  color: white;
  text-decoration: none;
}

a:hover {
  color: red;
}

.div-1 {
  background-color: blueviolet;
}

.div-1 img {
  width: 100px;
}

#div-1 p {
  color: blue;
  padding: 30px;
}

.boja-crveno {
  color: red;
}

.pozadina-plavo {
  background: rgb(6, 177, 230);
}

.boja-crveno.pozadina-plavo {
  font-size: 234%;
}

.boja-crveno.pozadina-plavo h4 {
  color: white;
}

p.boja-crveno {
  color: pink;
}
